@charset "UTF-8";
* {
  font-family: "outfit";
  box-sizing: border-box;
}

/**********DÉBUT STYLE DE BASE*********/
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
}
header h2 {
  margin: 0;
  font-size: 40px;
}

nav {
  height: 100%;
  width: 100%;
}
nav .menuHamburger {
  display: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: flex;
}
nav ul li img {
  width: 60px;
}
nav ul li button {
  border: none;
  background-color: transparent;
  font-size: 35px;
  font-weight: 100;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main h1 {
  font-size: 160px;
}
main .btnProjets {
  display: none;
  border: none;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .contactWrapup {
  display: flex;
}
footer .contactWrapup__contact {
  display: flex;
  align-items: center;
}
footer .contactWrapup__contact img {
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
footer .contactWrapup__contact p {
  font-weight: 100;
  font-size: 27px;
  margin: 0;
}
footer .contactWrapup__contact:nth-child(1) {
  margin-right: 20px;
}
footer .sociauxWrapup {
  display: flex;
}
footer .sociauxWrapup img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .sociauxWrapup img:nth-child(1) {
  margin-right: 10px;
}

/**********FIN STYLE DE BASE*********/
/************DÉBUT STYLE < 900***********************/
@media (max-width: 900px) {
  main h1 {
    font-size: 110px;
  }
  footer .contactWrapup__contact img {
    width: 30px;
  }
  footer .contactWrapup__contact p {
    font-size: 22px;
  }
  footer .sociauxWrapup img {
    width: 40px;
  }
}
/************FIN STYLE < 900***********************/
/**************DÉBUT STYLE < 738******************************/
@media (max-width: 738px) {
  header h2 {
    font-size: 30px;
    width: 150px;
  }
  nav ul li img {
    width: 40px;
  }
  nav ul li button {
    font-size: 25px;
  }
  main h1 {
    font-size: 90px;
  }
  footer .contactWrapup {
    flex-direction: column-reverse;
  }
}
/**************FIN STYLE < 738******************************/
/***************DÉBUT STYLE < 556**********************/
@media (max-width: 556px) {
  main h1 {
    font-size: 60px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .contactWrapup__contact {
    align-items: center;
    justify-content: center;
  }
  footer .contactWrapup__contact img {
    display: none;
  }
  footer .contactWrapup__contact:nth-child(1) {
    margin: 0;
  }
}
/***************FIN STYLE < 556**********************/
/**************DÉBUT STYLE < 420*************/
@media (max-width: 420px) {
  body {
    padding: 30px;
  }
  header h2 {
    font-size: 25px;
  }
  nav .menuHamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav ul li:nth-child(1) {
    margin-bottom: 10px;
  }
  main h1 {
    font-size: 50px;
  }
  main .btnProjets {
    display: block;
  }
}
/**************FIN STYLE < 420*************//*# sourceMappingURL=style.css.map */