*{
    font-family: "outfit";
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    h2{
        margin: 0;
        font-size: 40px;
    }
}

nav{
    height: 100%;
    width: 100%;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            display: flex;
            button{
                border: none;
                background-color:transparent;
                font-size: 35px;
                font-weight:100;
            }
        } 
    }
}

main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
.contactWrapup{
    display: flex;

    &__contact{
        display: flex;
        align-items: center;
        img{
            width: 35px;
            object-fit: contain;
            margin-right: 5px;
        }
        p{
            font-weight: 100;
            font-size:30px;
            margin: 0;
        }
    }
    &__contact:nth-child(1){
        margin-right: 20px;
    }
}
.sociauxWrapup{
    display: flex;
    img{
        width: 50px;
        object-fit: contain;
    }
    img:nth-child(1){
        margin-right: 10px;
    }
}
}

