* {
    font-family: "outfit";
    box-sizing: border-box;
}



/**********DÉBUT STYLE DE BASE*********/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    h2 {
        margin: 0;
        font-size: 40px;
        cursor: pointer;
    }
}

nav {
    height: 100%;
    width: 100%;

    .menuHamburger {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: flex;

            img {
                width: 60px;
            }

            button {
                border: none;
                background-color: transparent;
                font-size: 35px;
                font-weight: 100;
            }
        }
    }
}

main {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: 160px;
        margin: 0;
    }

    .btnProjets01 {
        color: black;
        border: none;
        font-weight: 300;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
    }

    .contenusPage {
        z-index: 2;
        position: absolute;
        text-align: center;
        overflow: hidden;
        height: 300px;
        .imgIncitation{
            img{
                width: 50px;
                height:50px;
            }
        }
    }
}

/**
main:active{
    cursor: pointer;
}
    **/
footer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .contactWrapup {
        display: flex;

        &__contact {
            display: flex;
            align-items: center;

            img {
                width: 35px;
                object-fit: contain;
                margin-right: 5px;
            }

            p {
                color: black;
                text-decoration: none;
                font-weight: 100;
                font-size: 27px;
                margin: 0;
            }
        }

        &__contact:nth-child(1) {
            margin-right: 20px;
        }
    }

    .sociauxWrapup {
        display: flex;

        img {
            width: 50px;
            object-fit: contain;
        }

        img:nth-child(1) {
            margin-right: 10px;
        }
    }
}


.swiperOeuvres {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    user-select: none;
    z-index: 3;
    .swiper-wrapper {
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 400px;
                height: 348px;
                object-fit: cover;
                box-shadow: #00000057 0px 20px 20px 0px;
                transition: 0.5s;
            }

            img:hover {
                cursor: pointer;
                box-shadow: none;
                transition: 0.5s;
            }
        }
    }
}



@media (min-width:800px) {
    .swiperOeuvres .swiper-wrapper {
        display: flex;
        transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    }
}

//CODE LOWKEY INDÉSIRABLE 
/**
    .swiperOeuvres .swiper-scrollbar-drag{
        height: 100%;
        transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
        background: rgba(0,0,0,.4);
    }
        **/







.oeuvreWrapup {
    width: 100%;
    height: 70%;
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;

    &__img {
        width: 20%;
        margin-left: 60px;
        display: flex;
        flex-direction: column-reverse;
        justify-items: flex-start;
        align-items: center;

        img {
            user-select: none;
            width: 100%;
            aspect-ratio: 1;
            border-radius: 100%;
            margin-bottom: 50px;
            max-width: 220px;
        }
    }

    &__contenus {
        width: 80%;
        height: 100%;

        padding: 0px 60px;

        &__ecran {
            position: relative;
            background-color: #f0f0f0;
            height: 100%;
            width: 100%;
            padding: 20px 90px 20px 20px;

            &__x {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: transparent;
                border: none;
                user-select: none;
            }

            &__interieur {
                padding: 20px;
                width: 100%;
                height: 100%;
                overflow: scroll;
                display: flex;
                flex-direction: column;

                &__textes {
                    width: 100%;

                    h3 {
                        margin-top: 0;
                        font-weight: 400;
                        font-size: 30px;
                        text-align: center;
                    }

                    h4 {
                        font-weight: 400;
                        font-size: 25px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 25px;
                        text-align: justify;
                    }

                    li {
                        font-weight: 300;
                        font-size: 25px;
                    }
                }

                &__videos {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    iframe {
                        user-select: none;
                        margin: 10px;
                        width: 100%;
                        height: 360px;
                        max-width: 640px;
                    }
                }

                &__images {
                    width: 100%;

                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        max-width: 590px;
                        margin: 0;
                        user-select: none;
                    }
                }
            }
        }
    }
}


.swiperImages {
    height: 300px;
    overflow: hidden;
    position: relative;

    .swiper-wrapper {
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .swiper-button-prev {
        color: black;
    }

    .swiper-button-next {
        color: black;
    }

    .swiper-pagination-bullet-active {
        background-color: black;
    }
}

/**********FIN STYLE DE BASE*********/

/**********DÉBUT STILE < 1300**************/

@media (max-width:1300px) {
    .oeuvreWrapup {
        justify-content: space-between;

        &__contenus {
            width: 70%;
        }
    }
}

/************DÉBUT STYLE < 900***********************/

@media (max-width:900px) {
    main {
        h1 {
            font-size: 110px;
        }
    }

    footer {
        .contactWrapup {
            &__contact {
                img {
                    width: 30px;
                }

                p {
                    font-size: 22px;
                }
            }
        }

        .sociauxWrapup {
            img {
                width: 40px;
            }
        }

    }

    .oeuvreWrapup {
        justify-content: space-between;

        &__contenus {
            width: 70%;

            &__ecran {
                padding: 90px 0px 20px 0px;
            }
        }
    }

    .swiperOeuvres {
        .swiper-wrapper {
            .swiper-slide {
                img { 
                    width: 90%;
                    max-width: 400px;
                }
            }
        }
    }
}

/************FIN STYLE < 900***********************/



/**************DÉBUT STYLE < 738******************************/

@media (max-width:738px) {

    header {
        h2 {
            font-size: 30px;
            width: 150px;
        }
    }

    nav {
        display: none;

        ul {
            li {
                img {
                    width: 40px;
                }

                button {
                    font-size: 25px;
                }
            }
        }
    }

    main {
        h1 {
            font-size: 90px;
        }
    }

    footer {
        .contactWrapup {
            flex-direction: column-reverse;
        }
    }

    .oeuvreWrapup {
        height: 60%;

        &__img {
            display: none;
        }

        &__contenus {
            width: 100%;
            padding: 0 40px;
        }
    }

    .swiperOeuvres {
        .swiper-wrapper {
            .swiper-slide {
                img {
                    width: 60%;
                    aspect-ratio: 1;
                    height: auto;
                }
            }
        }
    }
}

/**************FIN STYLE < 738******************************/





/***************DÉBUT STYLE < 556**********************/

@media(max-width:556px) {
    main {
        h1 {
            font-size: 60px;
        }
    }

    footer {
        flex-direction: column;
        align-items: center;

        .contactWrapup {
            &__contact {
                align-items: center;
                justify-content: center;

                img {
                    display: none;
                }
            }

            &__contact:nth-child(1) {
                margin: 0;
            }
        }
    }
}



/***************FIN STYLE < 556**********************/





/**************DÉBUT STYLE < 420*************/
@media(max-width:420px) {
    body {
        padding: 30px;
    }

    header {
        h2 {
            font-size: 25px;
        }
    }

    nav {
        .menuHamburger {
            display: block;
        }

        ul {
            display: none;

            li:nth-child(1) {
                margin-bottom: 10px;
            }
        }
    }

    main {
        h1 {
            font-size: 50px;
        }

        .btnProjets {
            display: block;
        }
    }

    .oeuvreWrapup {
        height: 50%;

        &__contenus {
            padding: 0px 20px;

            &__ecran {
                padding: 65px 0px 20px 0px;

                &__x {
                    img {
                        width: 25px;
                        height: 25px;
                    }

                }
            }
        }
    }

    .swiperImages {
        height: 200px;
    }
}

/**************FIN STYLE < 420*************/




//STYLE SPECIAL

.desactiver {
    display: none;
}