*{
    font-family: "outfit";
    box-sizing: border-box;
}
/**********DÉBUT STYLE DE BASE*********/
body{
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    h2{
        margin: 0;
        font-size: 40px;
    }
}

nav{
    height: 100%;
    width: 100%;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            display: flex;
            img{
                width: 60px;
            }
            button{
                border: none;
                background-color:transparent;
                font-size: 35px;
                font-weight:100;
            }
        } 
    }
}

main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    h1{
        font-size: 160px;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
.contactWrapup{
    display: flex;
    &__contact{
        display: flex;
        align-items: center;
        img{
            width: 35px;
            object-fit: contain;
            margin-right: 5px;
        }
        p{
            font-weight: 100;
            font-size:27px;
            margin: 0;
        }
    }
    &__contact:nth-child(1){
        margin-right: 20px;
    }
}
.sociauxWrapup{
    display: flex;
    img{
        width: 50px;
        object-fit: contain;
    }
    img:nth-child(1){
        margin-right: 10px;
    }
}
}
/**********FIN STYLE DE BASE*********/



/************DÉBUT STYLE < 900***********************/

@media (max-width:900px){
    main{
        h1{
            font-size: 110px;
        }
    }
    
    footer{
        .contactWrapup{
            &__contact{
                img{
                    width: 30px;
                }
                p{
                font-size:22px; 
                }
            }
        }
        .sociauxWrapup{
            img{
                width: 40px;
            }
        }

    }
}

/************FIN STYLE < 900***********************/



/**************DÉBUT STYLE < 738******************************/

@media (max-width:738px){

    header{
        h2{
            font-size: 30px;
            width: 150px;
        }
    }
    nav{
        ul{
            li{
                img{
                    width: 40px;
                }
                button{
                    font-size: 25px;
                }
            }
        }
    }
    main{
        h1{
            font-size: 90px;
        }
    }
    footer{
        .contactWrapup{
            flex-direction: column-reverse;
        }
    }
    }

/**************FIN STYLE < 738******************************/





/***************DÉBUT STYLE < 556**********************/

@media(max-width:556px){
    main{
        h1{
            font-size: 60px;
        }
    }
    footer{
        .sociauxWrapup{
            flex-direction: column;
            img:nth-child(1){
                margin-bottom: 5px;
            }
        }
    }
}



/***************FIN STYLE < 556**********************/